@font-face {
    font-family: 'Uchen';
    src: url('Uchen-Regular.woff2') format('woff2'),
        url('Uchen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
